//@import '@theme/variables';

.loader-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background: rgba($primary, 0.1);

  &:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
    border-radius: 50%;
   // border: 3px solid $primary;
   // border-color: $primary transparent $primary transparent;
    animation: loader-spinner 1.2s linear infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--large {
    &:after {
      width: 50px;
      height: 50px;
    //  border: 5px solid $primary;
    }
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
