@import '@theme/variables';

.rc-checkbox {
  &-inner {
    width: 16px;
    height: 16px;    
    border-color: $primary;
  }

  &-checked {
    .rc-checkbox-inner {
      border-color: $primary;
      background-color: $primary;
    
      &::after {
        width: 6px;
        height: 9px;
      }
    }
  }

  &:hover {
    .rc-checkbox-inner {
      border-color: $primary;
    }
  }
}