@import '@theme/variables';
@import '@theme/typography';

textarea.rc-input,
input.rc-input {
  @extend .normal-font;
  width: 100%;
  height: $input-height-normal;
  padding: $input-padding;
  background: $light-grey;
  border: $lighter-border;
  border-radius: $input-border-radius;
  outline: none;

  &--small {
    @extend .normal-font-small;
    height : $input-height-small;
    padding : $input-padding-small;
  }

  &--error {
    color: $danger;
    border: 1px solid $danger;
  }

  &:focus {
    border: $primary-border;
  }

  &.bg-primary-light {
    background: $primary-light;
  }
}

textarea.rc-input {
  min-height: 75px;
  max-height: 125px;
}

.rc-input {
  &--label {
    height: $input-height-normal;
    padding: $input-padding;
  }

  &--error {
    color: $danger;
  }
}

.icon-input {
  .rc-input {
    padding-right: 40px;
  }

  span.icon {
    @extend .normal-font;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
