@import '@theme/variables';
@import '@theme/typography';

.rc-toast-container {
  width: 300px;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  margin: 20px;

  .rc-toast {
    background: $white;
    width: 100%;
    min-height: 70px;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 15px;
    box-shadow: 0px 1px 15px 1px rgba($font-base, 0.3);

    animation: $fadeInQuick;

    .icon {
      @extend .normal-font-icon-extra-large;
      color: $secondary;
    }

    .header {
      @extend .normal-font-bold;
    }

    &.error {
      .header,
      .content,
      .icon {
        color: $danger;
      }
    }

    &.warning {
      .icon {
        color: $danger;
      }
    }
  }
}
